<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recipe Book{% endblock %}</title>
    <link rel="stylesheet" href="./includes/styles.css">
    {% include 'includes/styles.css' %}
</head>
<body>
    {% include 'includes/header.html' %}
    <div class="container">
        <h1 class="page-heading">{% block heading %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
</body>
</html>