{% extends 'main.html' %}

{% block title %}Add New Recipe{% endblock %}

{% block content %}
  <a href="{% url 'ledger:recipe_list' %}">Back to List</a>

  <div>
    <h2 style="color: black;">Add Recipe</h2>
    <form method="POST" action="{% url 'ledger:recipe_add' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit Recipe</button>
    </form>
  </div>
  <hr>
  <div>
    <h2 style="color: black;">Add Ingredient</h2>
    <form method="POST" action="{% url 'ledger:recipe_add_ingredient' %}">
      {% csrf_token %}
      {{ ingredient_form.as_p }}
      <button type="submit">Submit Ingredient</button>
    </form>
  </div>
  <hr>
  <div>
    <h2 style="color: black;">Add Recipe Ingredient</h2>
    <form method="POST" action="{% url 'ledger:recipe_add_recipe_ingredient' %}">
      {% csrf_token %}
      {{ recipe_ingredient_form.as_p }}
      <button type="submit">Submit Recipe Ingredient</button>
    </form>
  </div>
{% endblock %}
